server:
  port: 8080

spring:
  ssl:
    bundle:
      jks:
        kafka:
          protocol: 'SSL'
          keystore:
            location: 'classpath:kafka/client.keystore.p12'
            password: ${KAFKA_KEYSTORE_PASSWORD}
            type: PKCS12
          truststore:
            location: 'classpath:kafka/client.truststore.jks'
            password: ${KAFKA_TRUSTSTORE_PASSWORD}
            type: JKS
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}
    ssl:
      bundle: kafka
      keystore-content: ${KAFKA_KEYSTORE_CONTENT_BASE64}
      truststore-content: ${KAFKA_TRUSTSTORE_CONTENT_BASE64}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    consumer:
      group-id: api-gateway-group
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer


    # additional config for producer/consumer
  application:
    name: api-gateway
  datasource:
    url: ${DATABASE_URL}
    driverClassName: org.postgresql.Driver
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate.format_sql: true
  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: lb://auth-service
          predicates:
            - Path=/api/auth/**
        - id: prompt-service
          uri: lb://prompt-service
          predicates:
            - Path=/api/prompts/**
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - openid
              - profile
              - email
            redirect-uri: ${REDIRECT_URI}
            client-name: Google
        provider:
          google:
            issuer-uri: ${GOOGLE_ISSUER_URI}
            jwk-set-uri: ${GOOGLE_JWK_SET_URI}

app:
  jwt:
    secret: ${JWT_SECRET}
    access-token-expiration: 3600000 # 1 hour in ms
    refresh-token-expiration: 604800000 # 7 days in ms
  oauth2:
    authorized-redirect-uris: ${REDIRECT_URI1},${REDIRECT_URI2}


cloud:
  storage:
    s3:
      bucketName: ${BUCKET_NAME}
      region: ${REGION}
      access-key: ${ACCESS_KEY}
      secret-key: ${SECRET_KEY}

